<!DOCTYPE html>
<html lang="en-us">

<head>
  {% include head.html %}
  <style>
    .footer {
      text-align: center;
      padding: 1rem 0;
    }
    .footer-line {
      display: inline-block;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="wrap">
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <a id='name' href="{% link index.md %}">Matthew Chiu</a>
        <!-- <div class="span">
          <a href="https://matthewlhchiu.substack.com/">Substack</a>
        </div> -->
      </div>
    </header>

    <!-- Main Content -->
    <main class="container">
      {{ content }}
    </main>

    <!-- Footer -->
    <!--
    <footer class="footer">
        <div class="footer-line">
        <p><i>Last updated: June 1, 2024.</i></p>
      </div>
    </footer>
    -->
  </div>

</body>
</html>
